
    <%= form_for @cartitem, url: cartitems_path, method: :post, remote: true do |form| %>
  <% if @cartitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cartitem.errors.count, "error") %> prohibited this cartitem from being saved:</h2>

      <ul>
        <% @cartitem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

  <%= form.label :quantity %>
  <%= form.text_field :quantity %>
       <%= form.hidden_field :product_id, :value => @product.id %>
       <%= form.hidden_field :cart_id, :value => @current_user.cart.id %>
    <div>   <%= button_to "Add to Cart", Cartitem, { id: 'pop'} %> </div>
  </div>
<% end %>


<script>
$('#pop').on('click', function() {
              
    $.ajax({ 
      url: `/cartitems`,
        type: `post`,
       
    });
});
</script>

<script>
   function increment() {
      document.getElementById('demoInput').stepUp();
   }
   function decrement() {
      document.getElementById('demoInput').stepDown();
   }
</script>
