
    <%= form_for @cartitem, url: cartitems_path, method: :post, remote: true,html: {id: "form"} do |form| %>
  <% if @cartitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cartitem.errors.count, "error") %> prohibited this cartitem from being saved:</h2>

      <ul>
        <% @cartitem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

  <%= form.label :quantity %>
  <%= form.text_field :quantity %>
       <%= form.hidden_field :product_id, :value => @product.id %>
       <%= form.hidden_field :cart_id, :value =>@cart.id %>
       <div class="btn btn-light" id="cartitem">
    <%= form.submit "Add To Cart" %>
    </div>
    <% end %>
  <div class="bs-example">
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                 <span class="glyphicon glyphicon-ok"></span>
                    <i class="fa fa-check-circle"></i>
                    <h5 class="modal-title">Success</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
                <div class="modal-body modal-body-centered">
                    Product added to cart successfully</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" ><%= link_to "View Cart",cartitems_path%></button>
                    <button type="button" class="btn btn-light"><%= link_to "Continue Shopping",root_path%></button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

  

<script>

$("#form").on('submit', function(event){
    event.preventDefault();  //Prevents form submission or the default event's action
    $("#myModal").modal('show'); // Open the modal though javascript
});

</script>

<script>
   function increment() {
      document.getElementById('demoInput').stepUp();
   }
   function decrement() {
      document.getElementById('demoInput').stepDown();
   }
</script>
