
    <%= form_for @cartitem, url: cartitems_path, method: :post do |form| %>
  <% if cartitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cartitem.errors.count, "error") %> prohibited this cartitem from being saved:</h2>

      <ul>
        <% cartitem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

  <p> <%= form.label :quantity %>
      <%= form.text_field :quantity %>
      </p>
    <%= form.submit %>
  </div>
<% end %>
