<p id="notice"><%= notice %></p>
<table>
<tbody>
<tr><td>Qunatity : </td>
<td><%= @cartitem.quantity%></td><tr>

<%p=@cartitem.product_id %>
<% @product=Product.find(p)%>
<tr><td> Title:</td>
    <td><%=  @product.title  %></td></tr>
      <tr><td> Description:</td>
    <td><%=  @product.description  %></td></tr>
    
     <tr><td> Status:</td>
    <td><%=  @product.status %></td></tr>

    <tr><td> Price:</td>
    <td><%=  @product.price %></td></tr>

    <tr><td> Images :</td>
     <td> 
     <%= image_tag @product.image.url, style:'width:20% ;height:40%' %></td></tr>
      </tbody>
      </table>
    
    <td><%=  @product.status %></td></tr>

<%= link_to 'Edit', edit_cartitem_path(@cartitem) %> |
<%= link_to 'Back', cartitems_path %>
