<%= form_with(model: order, local: true) do |f| %>

  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
 
  <%= f.hidden_field :user_id, :value=> current_user.id %>

 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :ph_no %><br />
    <%= f.text_field :ph_no %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%
=begin%>
 <%= f.hidden_field :total, :value=>  %>  
<%
=end%>


 <%
=begin%>
 <div class="field">
    <%= f.label :city %><br />
   <%= f.select :city_id, City.all.pluck(:name, :id), {},{class: 'select'}  %></div>
  </div> 
<%
=end%>

    <%= f.submit %>
  </div>
<% end %>
